# Build
bin/
obj/

# Visual Studio
.vs/

# Rider
.idea/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# NuGet
packages/

# Test results
TestResults/

# Publish output
publish/

# OS files
.DS_Store
Thumbs.db